proxmox_api_url = "https://192.168.1.10:8006/api2/json"
proxmox_api_token_id = "root@pam!supersecret"
proxmox_api_token_secret = "js7ej5k9-hd75-hd64-js56-js834jmd732"
proxmox_target_node = "your proxmox node"

cluster_name = "your cluster name"
cluster_endpoint = "https://192.168.1.100:6443"